<!doctype html>
<head>
  <meta charset="utf-8">	
  <title></title>
</head>

<body>
	<h2>iWall remote controller</h2>
	
	<input type="text" id="new_msg" size="42">
	<br /><br /><hr />
	
	<h3>Messages</h3>
	<div id="messages"></div>	
    
	<h3>Debug</h3>
	<div id="debug"></div>	  
	
	<script src="js/libs/jquery-1.5.1.min.js"></script> 
	<script>
			$(document).ready(function(){
				ws = new WebSocket("ws://0.0.0.0:8080");
				ws.onopen = function() { debug("Connected to iWall"); }
				ws.onclose = function() { debug("Connection closed."); }
					ws.onmessage = function(evt) {
						$("#messages").html("");
						messages = JSON.parse(evt.data); 
						for (i=0; i<messages.length; i++) {
							message = JSON.parse(messages[i]);
							append_message(message);
						}
					}
			
				function debug(str){ $("#debug").append("<p>"+str+"</p>"); }	
				
				function append_message(message) {
					uid = message["uid"];
					text = message["text"];
					$("#messages").append($("<p><a href='#' id='" + uid + "'>"+ text + "</a></p>"));
					$("#" + uid).click(function(){ send_vote(this.id) });
				}	

				function send_vote(uid) {
					ws.send ('{"type" : "vote", "uid" : "' + uid +'" }');
				}
				

				$("#new_msg").change(function() {
					ws.send ('{"type" : "message", "text" : "' +  this.value + '" }');
					this.value = '';
				});			
			});
	</script>
	
</body>
</html>


