<!doctype html>
<head>
  <meta charset="utf-8">	
  <title></title>
</head>

<body>

	</script>
	<script type="text/javascript" src="js/libs/paper.js"></script>
	
		<script type="text/paperscript" canvas="wall">
			var basefontsize = 36
			var messages = [];
			var walltext = [];
			var position = [];
			var destination = [];
			
			var ws = new WebSocket("ws://0.0.0.0:8082");

			ws.onopen = function() {}				
			ws.onclose = function() {}

			ws.onmessage = function(evt) {
				// clean the old text on the canvas
				for (i = 0; i < walltext.length; i++) { 
					walltext[i].visible = false;
				}
				walltext = [];

				// read in the JSON incoming message list
				// fill the local message list
				// generate wall PointTextes with position and destination
				messages = [];	
				
			 	var incoming_messages = JSON.parse(evt.data); 
				for (i = 0; i < incoming_messages.length; i++) {
					var message = JSON.parse(incoming_messages[i]);
					messages.push(message);
					walltext[i] = new PointText();
					if (position[i]) {
						walltext[i].position = position[i];
					} else {
						walltext[i].position = Point.random()*view.size;
					}
					
					if (destination[i] == undefined) { destination[i] = Point.random() * view.size; }
				}
			}		
		
		    // Animate the canvas
			// move wall PoinTextes to a new random position
			function onFrame(event) {
				for (i = 0; i < walltext.length; i++) {
					var vector = destination[i] - walltext[i].position;
				  	var alpha = 1/(messages[i].votes/10); // Transparence of walltext
				
					walltext[i].position += vector/300;
					position[i] = walltext[i].position;
					walltext[i].characterStyle = {
						font: messages[i].font,
					    fontSize: basefontsize + 2*messages[i].votes,
					};	
					walltext[i].paragraphStyle.justification = 'center';
					walltext[i].fillColor = messages[i].color;	
					walltext[i].fillColor.alpha = alpha;
					walltext[i].content = messages[i].text;

					if (vector.length < 30) {
					        destination[i] = Point.random() * view.size;
					  }	
				}
			}
		</script>
		
	<canvas id="wall" resize></canvas>
	
</body>
</html>


